.Footer {
  /* height: 40vh; */
  background-color: #90d4c5;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
}

.FooterLogo {
  justify-self: center;
  align-self: center;
  padding-top: 5rem;
}

.FooterList {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 2rem;
}

.footerLink {
  display: inline;
  text-decoration: none;
  padding: 0 2rem;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #2e7565;
  cursor: pointer;
}

.footerLink:hover {
  color: white;
}

.SocialMediaList {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 2rem;
}

.SocialMedia {
  fill: #2e7565;
  padding: 0 1rem;
  cursor: pointer;
}

.SocialMedia:hover {
  fill: white;
}
